@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

@theme {

    /* Custom Colours */
    --color-greenBlueOne: #77a6a9;
    --color-greenBlueTwo: #56787a;
    --color-blueGreenOne: #618fad;
    --color-spaceBlue: #45657a;
    --color-spaceBlueTwo: #002D38;
    --color-redOne: #c24d3f;
    --color-redTwo: #963c31;
    --color-salmon: #ebb8a4;
    --color-spaceGray: #1d313c;
    --color-stars: #e1ccad;
    --color-starsTwo: #FAF8EC;
    --color-spacePurple: #1F0638;

    /* default color */
    --color-default: var(--color-spaceBlueTwo);
    --color-default-subtle: var(--color-gray-200);
    --color-light: var(--color-starsTwo);
    --color-dark: var();

    /* main text color */
    --color-body: var(--color-spaceBlueTwo);
    --color-body-subtle: var(--color-spaceBlueTwo);

    /* text heading colors */
    --color-heading: var(--color-gray-800);

    --font-sans: 'futura-100', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-body: 'futura-100', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-mono: 'futura-100', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', 'monospace';

    --spacing-custom: 10px;

    --breakpoint-xs: 30rem;
    --breakpoint-2xl: 100rem;
    --breakpoint-3xl: 120rem;
}

@layer base{
    h1 {
        @apply text-8xl font-sans font-bold text-body p-2;
    }

    h3 {
        @apply text-4xl font-sans font-bold text-body p-2;
    }

    p {
        @apply text-2xl text-body-subtle font-sans p-2;
    }

    th {
        @apply text-sm text-body bg-default-subtle border-b border-default;
    }

    tr {
        @apply bg-default-subtle border-b border-default hover:bg-neutral-secondary-medium text-body;
    }

    table {
        @apply w-full text-sm text-left rtl:text-right text-body;
    }
}

@layer components{
    .grid{
        @apply p-12;
    }
    
    .baseCard{
        @apply bg-light block p-0.5 rounded-base shadow-xs text-body;
    }

    .baseBtn{
        @apply bg-light border-4 border-default block p-4 rounded-base shadow-xs text-center text-body;
    }

    .darkBtn{
        @apply bg-default/90 border-4 border-default block p-4 rounded-base shadow-xs text-center text-light;
    }

    .dayBtn{
        @apply bg-light border-4 border-default block p-4 rounded-base shadow-xs text-center text-body;
    }
}

@layer utilities{
    .centreScreen{
        @apply h-screen w-full flex justify-center items-center;
    }
}