pip install flask
pip install flask-wtf
pip install flask-sqlalchemy
pip install flask-login
pip install flask_bcrypt
pip install flask-pymongo
pip install flask-restful
pip install psycopg2
pip install -U pytest
pip install pytest pytest-mock mongomock psycopg2-binary "testcontainers[postgres]"
