{% extends 'layout.html' %}
{% block content %}
<section>

<div class="grid grid-cols-1 border-red-600">
    <div class="baseCard border-red-600">
        <h2>search for member</h2>
        <div class="baseCard grid grid-cols-4">
        <input type="text" placeholder="input member name" name="text" class="input col-span-3">
        <button class="baseBtn col-span-1">search</button>
        </div>
    </div>
</div>

<div class="grid grid-cols-3 gap-4">
    <div class="baseCard border-gray-300 col-span-1">
        <h3>member name</h3>
        <p>member info</p>
        <button class="baseBtn">edit</button>
    </div>
    <div class="baseCard col-span-1">
        <h3>member name</h3>
        <p>member info</p>
        <button class="baseBtn">edit</button>
    </div>
    <div class="baseCard col-span-1">
        <h3>member name</h3>
        <p>member info</p>
        <button class="baseBtn">edit</button>
    </div>
    <div class="baseCard col-span-1">
        <h3>member name</h3>
        <p>member info</p>
        <button class="baseBtn">edit</button>
    </div>
</div>



</section>
{% endblock %}