{% extends 'layout.html' %}
{% block content %}
<section>
    
    <!-- Welcome message which will use users first name/username -->
    <div class="grid grid-cols-3 grid-rows-2">
        <h1 class="col-span-3">Welcome back, User's name here</h1>
        <p>Ready to crush your next workout today?</p>
    </div>

    <div class="grid grid-cols-3 gap-4">

        <!-- Quick overview of users stats -->
        <h1 class="col-span-3">Stats Overview</h1>

        <div class="baseCard">
            <h1>4</h1>                    
            <p>This is a stat</p>
        </div>
        <div class="baseCard">
            <h1>12</h1>
            <p>This is another stat</p>
        </div>
        <div class="baseCard">
            <h1>140</h1>
            <p>This is another another stat</p>
        </div>

        <!-- Quick Actions to allow user to do various common tasks while using service, Need to create pages for each of these -->
        <h1>Quick Actions</h1>
        
        <div class="baseCard col-span-3">
            <div class="grid grid-cols-3 gap-4">
                <button class="baseBtn" data-modal-target="default-modal" data-modal-toggle="default-modal">
                    Start Workout
                </button>
                <button class="baseBtn">
                    View Workout History
                </button>
                <button class="baseBtn">
                    Stats
                </button>
            </div>
        </div>
        
        <!-- Shows users Current Schedule! -->
        <h1 class="text-left col-span-3">Current Schedule <button class="baseBtn float-right" data-modal-target="default-currentScheduleModal" data-modal-toggle="default-modal"><h3>Edit</h3></button></h3>

        <!-- When clicked a modal should appear showing the exercises scheduled for the selected day and whether or not they were completed -->
        <div class="baseCard col-span-3">
            <div class="grid grid-cols-7 gap-1">
                <button class="baseBtn" data-modal-target="default-currentScheduleModal" data-modal-toggle="default-modal">
                    <img src="./images/logoSmall">
                    <h3>Mon</h3>
                    <p>Workout Name</p>
                </button>
                <button class="baseBtn" data-modal-target="default-currentScheduleModal" data-modal-toggle="default-modal">
                    <img src="./images/logoSmall">
                    <h3>Tue</h3>
                    <p>Workout Name</p>
                </button>
                <button class="baseBtn" data-modal-target="default-currentScheduleModal" data-modal-toggle="default-modal">
                    <img src="./images/logoSmall">
                    <h3>Wed</h3>
                    <p>Workout Name</p>
                </button>
                <button class="baseBtn" data-modal-target="default-currentScheduleModal" data-modal-toggle="default-modal">
                    <img src="./images/logoSmall">
                    <h3>Thu</h3>
                    <p>Workout Name</p>
                </button>
                <button class="baseBtn" data-modal-target="default-currentScheduleModal" data-modal-toggle="default-modal">
                    <img src="./images/logoSmall">
                    <h3>Fri</h3>
                    <p>Workout Name</p>
                </button>
                <button class="baseBtn" data-modal-target="default-currentScheduleModal" data-modal-toggle="default-modal">
                    <img src="./images/logoSmall">
                    <h3>Sat</h3>
                    <p>Workout Name</p>
                </button>
                <button class="baseBtn" data-modal-target="default-currentScheduleModal" data-modal-toggle="default-modal">
                    <img src="./images/logoSmall">
                    <h3>Sun</h3>
                    <p>Workout Name</p>
                </button>
            </div>
        </div>

        <h1 class="col-span-3">Personal Records & Recent Activity</h1>

        <!-- Graphs of users current PBs and how they have changed -->
        <div class="baseCard col-span-2">
            <h3>PBs</h3>
            <!-- Add a bar chart for each of the users PBs on core lifts, also add a line chart showing their progress over last 6 months/selected period of time -->
             <!-- Toggle in top right to switch between bar or line graph -->
        </div>

        <div class="baseCard col-span-1">
            <!-- Show exercises from workout when clicked -->
            <h3>Recent Workouts</h3>
            <button class="baseBtn" data-modal-target="default-currentScheduleModal" data-modal-toggle="default-modal">
                <img src="./images/logoSmall">
                <h3>Sun</h3>
                <p>Workout Name</p>
            </button>
            <button class="baseBtn" data-modal-target="default-currentScheduleModal" data-modal-toggle="default-modal">
                <img src="./images/logoSmall">
                <h3>Sun</h3>
                <p>Workout Name</p>
            </button>
        </div>
    </div>
</section>
{% endblock %}