{% extends 'layout.html' %}
{% block content %}
<section>
    
    <div class="grid grid-cols-3 grid-rows-2">
        <h1 class="col-span-3">Welcome back, User's name here</h1>
        <p>Ready to crush your next workout today?</p>
    </div>

    <div class="grid grid-cols-3 gap-4">

        <a href="#" class="card">
            <h1>4</h1>                    
            <p>This is a stat</p>
        </a>
        <a href="#" class="card">
            <h1>12</h1>
            <p>This is another stat</p>
        </a>
        <a href="#" class="card">
            <h1>140</h1>
            <p>This is another another stat</p>
        </a>

        <a href="#" class="card col-span-3">
            <h1>Quick Actions</h1>
            <div class="grid grid-cols-3 gap-4">
                <button class="quickAction" data-modal-target="default-modal" data-modal-toggle="default-modal">
                    Start Workout
                </button>
                <button class="quickAction">
                    View Workout History
                </button>
                <button class="quickAction">
                    Stats
                </button>
            </div>
        </a>

        <a href="#" class="card col-span-3">
            <div class="grid grid-cols-8 gap-1">
                <h1 class="col-span-7">Current Schedule</h1>
                <button class="dayBtn" data-modal-target="default-currentScheduleModal" data-modal-toggle="default-modal">
                    <h3>Edit</h3>
                </button>
            </div>
            <div class="grid grid-cols-7 gap-1">
                <button class="dayBtn" data-modal-target="default-currentScheduleModal" data-modal-toggle="default-modal">
                    <img src="./images/logoSmall">
                    <h3>Mon</h3>
                    <p>Workout Name</p>
                </button>
                <button class="dayBtn" data-modal-target="default-currentScheduleModal" data-modal-toggle="default-modal">
                    <img src="./images/logoSmall">
                    <h3>Tue</h3>
                    <p>Workout Name</p>
                </button>
                <button class="dayBtn" data-modal-target="default-currentScheduleModal" data-modal-toggle="default-modal">
                    <img src="./images/logoSmall">
                    <h3>Wed</h3>
                    <p>Workout Name</p>
                </button>
                <button class="dayBtn" data-modal-target="default-currentScheduleModal" data-modal-toggle="default-modal">
                    <img src="./images/logoSmall">
                    <h3>Thu</h3>
                    <p>Workout Name</p>
                </button>
                <button class="dayBtn" data-modal-target="default-currentScheduleModal" data-modal-toggle="default-modal">
                    <img src="./images/logoSmall">
                    <h3>Fri</h3>
                    <p>Workout Name</p>
                </button>
                <button class="dayBtn" data-modal-target="default-currentScheduleModal" data-modal-toggle="default-modal">
                    <img src="./images/logoSmall">
                    <h3>Sat</h3>
                    <p>Workout Name</p>
                </button>
                <button class="dayBtn" data-modal-target="default-currentScheduleModal" data-modal-toggle="default-modal">
                    <img src="./images/logoSmall">
                    <h3>Sun</h3>
                    <p>Workout Name</p>
                </button>
            </div>
        </a>

        <a href="#" class="card col-span-2">
            <h3>PBs</h3>
        </a>

        <a href="#" class="card col-span-1">
            <h3>Recent Workouts</h3>
            <button class="dayBtn" data-modal-target="default-currentScheduleModal" data-modal-toggle="default-modal">
                <img src="./images/logoSmall">
                <h3>Sun</h3>
                <p>Workout Name</p>
            </button>
            <button class="dayBtn" data-modal-target="default-currentScheduleModal" data-modal-toggle="default-modal">
                <img src="./images/logoSmall">
                <h3>Sun</h3>
                <p>Workout Name</p>
            </button>
        </a>
    </div>
</section>
{% endblock %}