{% extends 'layout.html' %}
{% block content %}
<section>
    <div class="centreScreen">
        <!-- Card -->
        <div class="baseCard text-center">
            <div class="grid grid-cols-1 gap-4">
                <img src="" alt="StrengthTracker Logo"/>
                <h1>Welcome Back!</h1>
                <p>Sign In to continue</p>
                <button class="baseBtn">Sign In With Google</button>
                <button class="baseBtn">Sign In With Facebook</button>
                <hr class="border-top: 8px solid bg-default border-radius: 5px">
                <h3 class="text-left">Email</h3>
                <input type="text" placeholder="Type here..." name="text" class="input">
                <h3 class="text-left">Password</h3>
                <input type="text" placeholder="Type here..." name="text" class="input">
                <button class="baseBtn">Sign In</button>
            </div>
        </div>
      </div>
</section>
{% endblock %}