{% extends 'layout.html' %}
{% block content %}

<section>
    <script src="{{ url_for('static', filename='js/musclesWorked/diagram.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/delete.js') }}"></script>
    <div class="baseCard">
        <div class="grid grid-cols-1 md:grid-cols-6 gap-4 !p-4">

            <div class="md:col-span-2">
                <h3>Find Users</h3>
                <input type="text" id="searchUsernameAdmin" class="input-search" placeholder="Search..." onkeyup="debouncedAdminSearchUsers('{{ current_user.id }}')">
            </div>
            <div class="md:col-span-2">
                <h3>Find Schedules</h3>
                <input id="searchSchedule" type="text" class="input-search" placeholder="Search..." onkeyup="debouncedAdminSearchSchedule('{{ current_user.id }}')">
            </div>
            <div class="md:col-span-2">
                <h3>Find Workouts</h3>
                <input id="searchWorkout" type="text" class="input-search" placeholder="Search..." onkeyup="debouncedAdminSearchWorkout('{{ current_user.id }}')">
            </div>

            <div class="md:col-span-2 table-wrap max-h-[400px]">
                <table id="userSearchTableAdmin">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Reports</th>
                            <th>Details</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody id="userTableBody"></tbody>
                </table>
            </div>

            <div class="md:col-span-2 table-wrap max-h-[400px]">
                <table id="scheduleSearchTable">
                </table>
                <h3 id="noneFoundSchedules"></h3>
            </div>

            <div class="md:col-span-2 table-wrap max-h-[400px]">
                <table id="workoutSearchTable">
                </table>
                <h3 id="noneFoundWorkouts"></h3>
            </div>
        </div>
    </div>
    <div class="baseCard">
        <div class="flex-grow overflow-auto p-2 max-h-[400px]">
            <table id="reportListTable">

            </table>
        </div>
    </div>
</div>

</section>

{% endblock %}