{% extends 'layout.html' %}
{% block content %}
<section>

    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    <script src="{{ url_for('static', filename='js/saveShare.js') }}"></script>
    <script>
        const currentSchedule = {{ schedule|tojson|safe }};
        console.log(currentSchedule);
    </script>
    <!-- Welcome message which will use users first name/username -->
    <div class="grid grid-cols-3 grid-rows-2">
        <h1 class="col-span-3">Welcome back, {{ current_user.firstName }}</h1>
        <p>Ready to crush your next workout today?</p>
    </div>

    <div class="grid grid-cols-3 gap-4">

        <!-- Quick overview of users stats -->
        <h1 class="col-span-3">Stats Overview</h1>

        <div class="baseCard col-span-3">
            <h1>{{ current_user.sessionsInRow }}</h1>                    
            <p>Sessions Completed In A Row!</p>
        </div>
        <div class="baseCard col-span-3">
            <h1>{{ current_user.squat + current_user.deadLift + current_user.benchPress }}</h1>
            <p>Core Three Lifts Total! (Bench Press, Squats, Deadlift)</p>
        </div>

        <!-- Quick Actions to allow user to do various common tasks while using service, Need to create pages for each of these -->
        <h1>Quick Actions</h1>
        
        <div class="baseCard col-span-3">
            <div class="grid grid-cols-3 gap-4">
                <button class="baseBtn" data-modal-target="default-modal" data-modal-toggle="default-modal">
                    Start Workout
                </button>
                <button class="baseBtn">
                    View Workout History
                </button>
                <button class="baseBtn">
                    Stats
                </button>
            </div>
        </div>
        
        <!-- Shows users Current Schedule! -->
        <h1 class="text-left col-span-3">Current Schedule <button class="baseBtn float-right" onclick="shareSchedule(currentSchedule, '{{ current_user.username }}', '{{ current_user.public }}')"><h3>Share</h3></button><button class="baseBtn float-right" href="{{ url_for('main.editSchedule') }}"><h3>Edit</h3></button></h3>

        <!-- When clicked a modal should appear showing the exercises scheduled for the selected day and whether or not they were completed -->
        <div class="baseCard col-span-3">
            <main id="scheduleContainer" class="grid grid-cols-7">
                    <!-- day cards inserted here by JS-->
            </main>
            <script>
                const container = document.getElementById("scheduleContainer");
                container.innerHTML = "";

                var currentDay = "Monday";

                loadHomePage();

            </script>
        </div>

        <h1 class="col-span-3">Personal Records & Recent Activity</h1>

        <!-- Graphs of users current PBs and how they have changed -->
        <div class="baseCard col-span-2">
            <h3>PBs</h3>
            <!-- Add a bar chart for each of the users PBs on core lifts, also add a line chart showing their progress over last 6 months/selected period of time -->
             <!-- Toggle in top right to switch between bar or line graph -->
        </div>

        <div class="baseCard col-span-1">
            <!-- Show exercises from workout when clicked -->
            <h3>Recent Workouts</h3>
            <button class="baseBtn" data-modal-target="default-currentScheduleModal" data-modal-toggle="default-modal">
                <img src="./images/logoSmall">
                <h3>Sun</h3>
                <p>Workout Name</p>
            </button>
            <button class="baseBtn" data-modal-target="default-currentScheduleModal" data-modal-toggle="default-modal">
                <img src="./images/logoSmall">
                <h3>Sun</h3>
                <p>Workout Name</p>
            </button>
        </div>
        <div id="viewDays-modal" tabindex="-1" aria-hidden="true" class="hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-screen">
            <div class="overflow-auto">
                <!-- Modal content -->
                <div class="relative bg-neutral-primary-soft border border-default rounded-base shadow-sm p-4 md:p-6">
                    <!-- Modal header -->
                    <h1 id="workoutName">Workout Name</h1>
                    <p id="workoutDescription">Workout Description</p>
                    <!-- Modal body -->
                    <table id="exerciseTable" class="table-auto">

                    </table>
                    <button class="baseBtn float-right" onclick="shareWorkout(currentSchedule.days[currentDay], '{{ current_user.username }}', '{{ current_user.public }}')"><h3>Share</h3></button>
                </div>
            </div>
        </div>
    </div>
    
</section>
{% endblock %}