{% extends 'layout.html' %}
{% block content %}
<section>
    <button type="button" class="inline-flex items-center text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 gap-4 focus:outline-none">
                <svg class="w-4 h-4 me-1.5 -ms-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12h4m-2 2v-4M4 18v-1a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3v1a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1Zm8-10a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/></svg>
                <a href="/admin">Back</a>
    </button> 
   <div class="baseCard border-transparent shadow col-span-1">
        <form action="/edit/{{ user.id }}" method="POST" style="display:inline;">
        {{ form.hidden_tag() }}    
        <h3>user ID {{user.id}}</h3>
        <p><span>username:  </span> <span>{{ user.username }}</span><input type="text" name="username" placeholder="change username"> </p>
        <p><span>first name:</span><span>{{user.firstName}}</span><input type="text" name="firstName" placeholder="change first name"></p>
        <p><span>last name:</span><span>{{user.lastName}}</span><input type="text" name="lastName" placeholder="change last name"></p>
        <p><span>email:  {{user.email}}</span><input type="text" name="email" placeholder="change email"></p>
        <button type="submit" class="inline-flex items-center text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">
                <svg class="w-4 h-4 me-1.5 -ms-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12h4m-2 2v-4M4 18v-1a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3v1a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1Zm8-10a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/></svg>
                confirm change
        </button>  
        </form>
        
        <button type="button" class="inline-flex self-start w-auto text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-4 focus:ring-neutral-tertiary shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">
                Delete (not in use)
        </button>  
        </p>
    </div>
    
<div>
    <h1>User's Workouts list</h1>
    <table border="1">
        <tr>
            <th>name</th>
            <th>description</th>
            <th>Excercises</th>
        </tr>
        {% for workout in workouts %}
        <tr>
            <td>{{ workout.name }}</td>
            <td>{{ workout.description }}</td>
            <td>{% for ex in workout.exercises %}  
                   <p>{{ ex.name }} @ {{ex.searchID}}</p>
                {% endfor %}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<div>
    <h2>Add Workout for user</h2>
    <form action="/add_user_workout/{{user.id}}" method="POST">
    {{ form.hidden_tag() }}    
    {% for workout in all_workouts %}
    <input type="checkbox" name="workout_name" value="{{ workout._id|string }}">{{ workout.name }}
    {% endfor %}
    <button type="submit" class="inline-flex items-center text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none" >Add Workout</button>
    
    </form>    
</div>

<div class="baseCard border-transparent shadow col-span-1">
    <h3>current schedule</h3>
    <p> ID {{ user.currentScheduleID }}</p>
    <p>{{schedule.days.Monday.name}}</p>
    <p>{{schedule.days.Tuesday.name}}</p>
</div>

<div>
    <h3>add a schedule for user</h3>
    <form method="POST" action="/add_user_schedule/{{user.id}}">
    {{form.hidden_tag()}}
    <p><span>Monday</span>
        <select name="workout_id_1">
        {% for workout in workouts %}
            <option value="{{ workout._id|string }}">{{ workout.name }}</option>
        {% endfor %}
        </select>
    </p>
    <p>Tuesday</p>
    <p><span>"Tuesday"</span>
        <select name="workout_id_2">
        {% for workout in workouts %}
            <option value="{{ workout._id|string }}">{{ workout.name }}</option>
        {% endfor %}
        </select>
    </p>
    <button type="submit">Add</button>
    </form>
</div>

</section>
{% endblock %}