{% extends 'layout.html' %}
{% block content %}
<section>
    <div class="min-h-screen flex justify-center items-center p-4;">
        <!-- Card, All placeholder info just ot have general idea of layout, can change entirely using forms instead! Maybe remove layout since no need for navbar if not signed in-->
        <div class="bg-light block rounded-base shadow-xs text-body overflow-hidden text-center p-4">
            <div class="grid grid-cols-1 gap-4">
                <img src="../static/images/littleguy.png" style="margin-left: auto; margin-right: auto;" alt="Jym Logo"/>
                <h1>Welcome!</h1>
                <p>Sign Up to continue</p>
                <button class="baseBtn">Sign Up With Google</button>
                <button class="baseBtn">Sign Up With Facebook</button>
                <hr">
                <form method="post" action="" novalidate>
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.firstName.label }}<br>
                        {{ form.firstName(size=32) }}<br>
                        {% for error in form.firstName.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                        {{ form.lastName.label }}<br>
                        {{ form.lastName(size=32) }}<br>
                        {% for error in form.lastName.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.email.label }}<br>
                        {{ form.email(size=32) }}<br>
                        {% for error in form.email.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.username.label }}<br>
                        {{ form.username(size=32) }}<br>
                        {% for error in form.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.password.label }}<br>
                        {{ form.password(size=32) }}<br>
                        {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.confirmPassword.label }}<br>
                        {{ form.confirmPassword(size=32) }}<br>
                        {% for error in form.confirmPassword.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>{{ form.rememberMe() }} {{ form.rememberMe.label }}</p>
                    <p>{{ form.submit() }}</p>
                </form>
                <a href="{{url_for('main.signIn')}}">Already have an account? Sign In Here</a>
            </div>
        </div>
      </div>
</section>
{% endblock %}