{% extends 'layout.html' %}
{% block content %}
<section>
    <div class="centreScreen">
               <!-- Card, All placeholder info just ot have general idea of layout, can change entirely using forms instead! Maybe remove layout since no need for navbar if not signed in-->
        <div class="baseCard text-center">
            <div class="grid grid-cols-1 gap-4">
                <img src="" alt="StrengthTracker Logo"/>
                <h1>Welcome Back!</h1>
                <p>Sign In to continue</p>
                <button class="baseBtn">Sign In With Google</button>
                <button class="baseBtn">Sign In With Facebook</button>
                <hr class="border-top: 8px solid bg-default border-radius: 5px">
                <form method="post" action="" novalidate>
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.username.label }}<br>
                        {{ form.username(size=32) }}<br>
                        {% for error in form.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.password.label }}<br>
                        {{ form.password(size=32) }}<br>
                        {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>{{ form.rememberMe() }} {{ form.rememberMe.label }}</p>
                    <p>{{ form.submit() }}</p>
                </form>
                <p href="{{url_for('main.signUp')}}">Don't have an account? Sign Up Here</p>
            </div>
        </div>
      </div>
</section>
{% endblock %}