<!DOCTYPE html>
<html>
<head>
    <title>User Management</title>
</head>
<body>
    <h1>Users</h1>
    <ul>
        {% for user in users %}
            <li>{{ user.firstName }} ({{ user.email }})</li>
        {% endfor %}
    </ul>
    <h2>Add a New Driver</h2>
    
<form action="/add" method="POST">
                
    <input type="number" name="id" placeholder="user id" required>
    <input type="text" name="email" placeholder="user email" required>
    <input type="text" name="password" placeholder="password" required>
    <input type="text" name="firstName" placeholder="user firstName" required>
    <input type="text" name="lastName" placeholder="user Last Name" required>
    <input type="text" name="username" placeholder="username" required>
    
    <button type="submit">Add user</button>
</form>

</body>
</html>
